name: "Deploy"

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  Build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22"

      - name: Install Dependencies
        run: npm install

      - name: Pack
        run: npm run build

      - name: Ready to Upload
        run: |
          mv dist _site
          cp _site/index.html _site/404.html
          mv static _site

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: _site/

  Deploy:
    runs-on: ubuntu-latest
    needs: Build

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        id: deployment
